
p{
    margin-top: 0;
    margin-bottom: 0;
}

@media (max-width:1200px){
    body {
        font-family: Roboto, Arial; 
        margin: 0;
        padding-top: 80px;
        padding-right: 24px;
        background-color: rgb(247, 247, 247);
        padding-left: 100px;
    }
}
@media (min-width:1200.1px){
    body {
        font-family: Roboto, Arial; 
        margin: 0;
        padding-top: 80px;
        padding-right: 24px;
        background-color: rgb(247, 247, 247);
        padding-left: 220px;
    }
}