
@media (max-width:1200px) {
    .sidebar {
        background-color: white;
        position: fixed;
        left: 0;
        top: 60px;
        bottom: 0;
        width: 80px;
        border-right: 1px solid rgb(248, 248, 248);
        z-index: 100;
    }

    .home, 
    .explore, 
    .subscriptions,
    .originals,
    .youtube-music, 
    .library {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 74px;
        font-size: 10px;
        background-color: white;
    }

    .home:hover, 
    .explore:hover, 
    .subscriptions:hover,
    .originals:hover,
    .youtube-music:hover, 
    .library:hover {
        background-color: rgb(232, 232, 232);
        transform: scale(1.03);
        transition: 0.2s;
    }

    .home-icon, 
    .explore-icon,
    .subscriptions-icon,
    .originals-icon,
    .youtube-music-icon,
    .library-icon {
        width: 25px;
        padding-bottom: 10px;
    }
}

@media (min-width:1200.1px) {
    .sidebar {
        background-color: white;
        position: fixed;
        left: 0;
        top: 60px;
        bottom: 0;
        width: 200px;
        border-right: 1px solid rgb(248, 248, 248);
        z-index: 100;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    }

    .home, 
    .explore, 
    .subscriptions,
    .originals,
    .youtube-music, 
    .library {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        vertical-align: middle;
        height: 60px;
        font-size: 10px;
        background-color: white;
        padding-left: 30px;
    }

    .home:hover, 
    .explore:hover, 
    .subscriptions:hover,
    .originals:hover,
    .youtube-music:hover, 
    .library:hover {
        background-color: rgb(232, 232, 232);
        transform: scale(1.03);
        transition: 0.2s;
    }

    .home-icon, 
    .explore-icon,
    .subscriptions-icon,
    .originals-icon,
    .youtube-music-icon,
    .library-icon {
        width: 25px;
        object-fit: cover;
        object-position: center;
    }

    .home-text, 
    .explore-text, 
    .subscriptions-text,
    .originals-text,
    .youtube-music-text, 
    .library-text {
        padding-left: 20px;
        font-size: 14px;
    }
}

    