.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 40px;
}

.video-section:hover {
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.15);
    transform: scale(1.03);
    transition: 0.2s;
}

@media (max-width:750px){
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:750px){
    .video-title {
        font-size: 14px;
        line-height: 20px;
    }
    .video-author,
    .video-stats {
        font-size: 12px;
    }
}

@media (min-width:751px) and (max-width:999px){
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width:751px) and (max-width:999px){
    .video-title {
        font-size: 16px;
        line-height: 22px;
    }
    .video-author,
    .video-stats {
        font-size: 14px;
    }
}

@media (min-width:1000px){
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width:1000px){
    .video-title {
        font-size: 18px;
        line-height: 24px;
    }
    .video-author,
    .video-stats {
        font-size: 16px;
    }
}


.thumbnail {
    width: 100%;
}

.thumbnail-section {
    position: relative;
}

.video-time {
    color: white;
    background-color: black;
    font-size: 12px;
    padding: 2px;
    position: absolute;
    bottom: 12px;
    right: 4px;

}

.video-details {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}

.channel-image {
    width: 40px;
}

.channel-picture {
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
}

.video-info {
    padding-left: 10px;
}

.video-title {
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px;
}

.video-author,
.video-stats {
    color: gray;
    margin: 0;
    margin-bottom: 4px;
}

